.error {
    color: red;
}

.seo-info {
	color: red;
	font-weight: 700;
	font-size: 16px;
	background: #e4e4e4;
	margin-bottom: 24px;
}

.bg-g {
	background: #d3f9b4!important;
}

.bg-r {
	background: #f9cccc!important;
}

.my-underline {
	padding: 15px 0;
	border-bottom: 1px solid #000;
}